@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
  font-family: "Death Star";
  src: url("./assets/fonts/Death Star.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-death-star: "Death Star", sans-serif;
}

.slide-structure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.swiper-slide {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
}

.swiper-slide p,
.swiper-slide h1,
.swiper-slide h2,
.swiper-slide h3,
.swiper-slide h4,
.swiper-slide h5,
.swiper-slide h6,
.swiper-slide span,
.swiper-slide div {
  pointer-events: auto;
  user-select: text !important;
}
