@import "tailwindcss";

.main-slide {
  background: url("./assets/img/background.png") 0 0 / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(55 65 81);
  width: 100%;
}
